/*-------------------------------------
zTree Style

version:    3.4
author:     Hunter.z
email:      hunter.z@263.net
website:    http://code.google.com/p/jquerytree/

-------------------------------------*/

.ztree4 * {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.ztree4 {
    margin: 0;
    padding: 0;
    color: #313048;
}

.ztree4 li {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}

.ztree4 li ul {
    margin: 0;
    padding: 0;
}

.ztree4 li ul.line {
    background: url(./img/line_conn.png) -4px 0 repeat-y;
}

.ztree4 li ul li {
    padding-left: 15px;
}

.ztree4 li a {
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    margin: 0;
    cursor: pointer;
    color: #313048;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 31px;
    line-height: 31px;
}

.ztree4 li a:hover {
    text-decoration: none;
}

.ztree4 li a.curSelectedNode {
    padding-top: 0px;
    color: rgba(87, 155, 216, 1);
    background: rgba(87, 155, 216, 0.1);
}

.ztree4 li a.curSelectedNode_Edit {}

.ztree4 li a.tmpTargetNode_inner {
    padding-top: 0px;
    background-color: #aaa;
    color: white;
    height: 30px;
    border: 1px #666 solid;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.ztree4 li a.tmpTargetNode_prev {}

.ztree4 li a.tmpTargetNode_next {}

.ztree4 li a input.rename {
    width: 100%;
    border: 0;
    background: transparent;
    color: #579bd8;
}

.ztree4 li span {
    line-height: 30px;
    margin-right: 2px
}

.ztree4 li span.button {
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("./img/metro.png");
    *background-image: url("./img/metro.gif")
}

.ztree4 li span.button.chk {
    width: 13px;
    height: 13px;
    margin: 0 2px;
    cursor: auto
}

.ztree4 li span.button.chk.checkbox_false_full {
    background-position: -5px -5px;
}

.ztree4 li span.button.chk.checkbox_false_full_focus {
    background-position: -5px -26px;
}

.ztree4 li span.button.chk.checkbox_false_part {
    background-position: -5px -48px;
}

.ztree4 li span.button.chk.checkbox_false_part_focus {
    background-position: -5px -68px;
}

.ztree4 li span.button.chk.checkbox_false_disable {
    background-position: -5px -89px;
}

.ztree4 li span.button.chk.checkbox_true_full {
    background-position: -26px -5px;
}

.ztree4 li span.button.chk.checkbox_true_full_focus {
    background-position: -26px -26px;
}

.ztree4 li span.button.chk.checkbox_true_part {
    background-position: -26px -48px;
}

.ztree4 li span.button.chk.checkbox_true_part_focus {
    background-position: -26px -68px;
}

.ztree4 li span.button.chk.checkbox_true_disable {
    background-position: -26px -89px;
}

.ztree4 li span.button.chk.radio_false_full {
    background-position: -47px -5px;
}

.ztree4 li span.button.chk.radio_false_full_focus {
    background-position: -47px -26px;
}

.ztree4 li span.button.chk.radio_false_part {
    background-position: -47px -47px;
}

.ztree4 li span.button.chk.radio_false_part_focus {
    background-position: -47px -68px;
}

.ztree4 li span.button.chk.radio_false_disable {
    background-position: -47px -89px;
}

.ztree4 li span.button.chk.radio_true_full {
    background-position: -68px -5px;
}

.ztree4 li span.button.chk.radio_true_full_focus {
    background-position: -68px -26px;
}

.ztree4 li span.button.chk.radio_true_part {
    background-position: -68px -47px;
}

.ztree4 li span.button.chk.radio_true_part_focus {
    background-position: -68px -68px;
}

.ztree4 li span.button.chk.radio_true_disable {
    background-position: -68px -89px;
}

.ztree4 li span.button.switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
    background-image: url(./img/line.png);
}

.ztree4 li span.button.root_open {
    background-position: -31px -93px;
}

.ztree4 li span.button.root_close {
    background-position: -62px -93px;
}

.ztree4 li span.button.roots_open {
    background-position: -31px 0;
}

.ztree4 li span.button.roots_close {
    background-position: -62px 0;
}

.ztree4 li span.button.center_open {
    background-position: -31px -31px;
}

.ztree4 li span.button.center_close {
    background-position: -62px -31px;
}

.ztree4 li span.button.bottom_open {
    background-position: -31px -62px;
}

.ztree4 li span.button.bottom_close {
    background-position: -62px -62px;
}

.ztree4 li span.button.noline_open {
    background-position: -31px -124px;
}

.ztree4 li span.button.noline_close {
    background-position: -62px -124px;
}

.ztree4 li span.button.root_docu {
    background: none;
}

.ztree4 li span.button.roots_docu {
    background-position: 0 0;
}

.ztree4 li span.button.center_docu {
    background-position: 0 -31px;
}

.ztree4 li span.button.bottom_docu {
    background-position: 0 -62px;
}

.ztree4 li span.button.noline_docu {
    background: none;
}

.ztree4 li span.button.ico_open {
    margin-right: 2px;
    background-position: -147px -21px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree4 li span.button.ico_close {
    margin-right: 2px;
    margin-right: 2px;
    background-position: -147px 0;
    vertical-align: top;
    *vertical-align: middle
}

.ztree4 li span.button.ico_docu {
    margin-right: 2px;
    background-position: -147px -42px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree4 li span.button.edit {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -189px -21px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree4 li span.button.edit:hover {
    background-position: -168px -21px;
}

.ztree4 li span.button.remove {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -189px -42px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree4 li span.button.remove:hover {
    background-position: -168px -42px;
}

.ztree4 li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -189px 0;
    vertical-align: top;
    *vertical-align: middle
}

.ztree4 li span.button.add:hover {
    background-position: -168px 0;
}

.ztree4 li span.button.ico_loading {
    margin-right: 2px;
    background: url(./img/loading.gif) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

ul.tmpTargetzTree {
    background-color: #FFE6B0;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

span.tmpzTreeMove_arrow {
    width: 16px;
    height: 21px;
    display: inline-block;
    padding: 0;
    margin: 2px 0 0 1px;
    border: 0 none;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -168px -84px;
    background-image: url("./img/metro.png");
    *background-image: url("./img/metro.gif")
}

ul.ztree4.zTreeDragUL {
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #cfcfcf;
    border: 1px #00B83F dotted;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.ztreeMask {
    z-index: 10000;
    background-color: #cfcfcf;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute
}

.ztree4 li span.iconBtn {
    display: inline-block;
    width: 20px;
    height: 30px;
    line-height: 30px;
    color: $gray2;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.ztree4 li span.iconBtn:before {
    content: "";
    font-family: "shujuyuan";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    fill: currentColor;
}

.ztree4 li span.iconBtn.moreBtn {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    margin: 0;
    font-size: 12px;
}

.ztree4 li span.iconBtn.moreBtn:before {
    content: "\e72c";
}

.ztree4 li span.iconBtn.moreBtn:hover,
.ztree4 li span.iconBtn.moreBtn:active {
    color: #579bd8;
    display: inline-block;
}

.ztree4 li a:hover+.iconBtn.moreBtn {
    display: inline-block;
}

.ztree4 li a.curSelectedNode+.iconBtn.moreBtn {
    color: #579bd8;
}

.ztree4 li span.node_name {
    display: inline-block;
    max-width: 65%;
    position: relative;
    top: -1px;
    line-height: 31px;
    margin: 0;
    padding-right: 1px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ztree4 li span.number {
    margin-left: 2px;
    color: $gray2;
    font-style: normal;
}

.ztree4 li span[treenode_ico] {
    display: none;
}

.ztree4 li span.spaceSpan {
    display: none;
}